body {
  margin: 0px;
}
.container {
  background: #3d087b;
  width: auto;
  height: 800px;
  position: relative;
  /* margin-left: -5%; */
}
.clock {
  width: 220px;
  height: 80px;
  background-image: url("./clock.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 34px;
  left: 30px;
}

.box1 {
  width: 450px;
  height: 120px;
  position: absolute;
  top: 75px;
  left: 750px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.22;
  z-index: 1;
}
.box2 {
  width: 490px;
  height: 130px;
  position: absolute;
  top: 50px;
  left: 730px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.71;
  z-index: 2;
}
.box3 {
  position: absolute;
  top: 44px;
  left: 705px;
  width: 536px;
  height: 120px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 1;
  z-index: 3;
}
.box4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  color: #8a11bf;
  padding-top: 12px;
}
.pack {
  width: 84px;
  height: 90px;
  color: #8a11bf;
  font-size: 36px;
  text-align: center;
}
.pack1 {
  width: 80px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  color: #3d087b;
  letter-spacing: 0px;
  font-size: 20px;
}
.pack2 {
  background-image: url("./timeline.png");
}

.colon {
  width: 4px;
  height: 40px;
}
.ampm {
  background-image: url("./am.png");
  position: relative;
  color: white;
}

span {
  font-size: 20px;
}
.content {
  position: absolute;
  top: 149px;
  left: 30px;
  width: 580px;
  height: 363px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
}
.line {
  display: flex;
  justify-content: space-around;
  color: #3d087b;
  margin: 40px;
}
label {
  width: 30%;
}

.img1 {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
}
.sun {
  background-image: url("./sun.png");
}

.pipe1 {
  position: absolute;
  left: 82px;
  top: 82px;
}
.food {
  background-image: url("./lunch.png");
}
.pipe2 {
  position: absolute;
  left: 82px;
  top: 165px;
}
.nap {
  background-image: url("./nap.png");
}
.pipe3 {
  position: absolute;
  left: 82px;
  top: 250px;
}
.night {
  background-image: url("./nap.png");
}
select {
  width: 150px;
}
.gd_mng {
  position: absolute;
  top: 527px;
  left: 30px;
  width: 578px;
  height: 77px;
  background: #ededed;
  border: 1px solid #3d087bde;
  border-radius: 10px;
  opacity: 0.23;
}
.text {
  position: absolute;
  top: 550px;
  left: 50px;
  width: 400px;
  height: 34px;
  color: white;
  font-weight: 900;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.alarm {
  position: absolute;
  top: 624px;
  left: 30px;
  width: 310px;
  height: 50px;
  border: 1px solid transparent;
  background-image: linear-gradient(
    to right,
    #f1a7c5,
    #fc5eff,
    #cb52f8,
    #6e54ec
  );
  border-radius: 5px;
  color: #ffffff;
}

.schedule {
  position: absolute;
  top: 623px;
  left: 365px;
  width: 240px;
  height: 104px;
  background: #ededed;
  border: 1px solid #3d087bde;
  border-radius: 10px;
  opacity: 0.23;
  border-radius: 10px;
}
.schedule_cont {
  position: absolute;
  top: 632px;
  left: 400px;
  width: 200px;
  height: 94px;
  color: #f25cfe;
  font-size: 12px;
  line-height: 20px;
}
.breakfast_box {
  position: absolute;
  top: 212px;
  left: 706px;
  width: 536px;
  height: 118px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breakfast {
  /* position: absolute; */
  /* top: 45px; */
  /* left: 30px; */
  /* width: 492px; */
  /* height: 38px; */
  color: #8e53f0;
  font-size: 25px;
  font-weight: bold;
}
#img2 {
  width: 536px;
  height: 400px;
  border-radius: 10px;
  object-fit: contain;
}
.img2 {
  position: absolute;
  top: 355px;
  left: 707px;
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  .container {
    height: 1400px;
    position: relative;
    margin: 0px;
  }
  .clock {
    width: 160px;
    height: 60px;
    position: absolute;
    top: 34px;
    left: 115px;
  }
  .box1 {
    width: 350px;
    height: 130px;
    position: absolute;
    top: 150px;
    left: 200px;
  }
  .box2 {
    width: 420px;
    height: 130px;
    position: absolute;
    top: 130px;
    left: 165px;
  }
  .box3 {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 540px;
    height: 120px;
  }
  .breakfast {
    /* position: absolute; */
    /* top: 42px; */
    /* left: 35px; */
    /* width: 90%; */
    /* height: 38px; */
    color: #8e53f0;
    font-size: 22px;
    font-weight: bold;
  }

  .breakfast_box {
    position: absolute;
    top: 300px;
    left: 122px;
    width: 536px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    position: absolute;
    top: 440px;
    left: 122px;
    width: 536px;
    height: 370px;
    /* margin: 10px; */
    align-items: center;
  }
  select {
    width: 25%;
  }
  option {
    width: 15%;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
  }
  label {
    width: 35%;
  }

  #img2 {
    width: 536px;
    height: 400px;
    border-radius: 10px;
    object-fit: contain;
  }

  .img2 {
    position: absolute;
    top: 800px;
    left: 122px;
  }
  .gd_mng {
    position: absolute;
    top: 1190px;
    left: 124px;
    width: 536px;
    height: 77px;
  }
  .text {
    position: absolute;
    top: 1200px;
    left: 199px;
    width: 400px;
    height: 34px;
  }
  .alarm {
    position: absolute;
    top: 1285px;
    left: 124px;
    width: 260px;
    height: 50px;
  }
  .schedule {
    position: absolute;
    top: 1282px;
    left: 400px;
    width: 260px;
    height: 104px;
  }
  .schedule_cont {
    position: absolute;
    top: 1290px;
    left: 470px;
    width: 200px;
    height: 94px;
  }
  .timing {
    font-size: 14px;
  }
}

@media screen and (min-width: 341px) and (max-width: 700px) {
  .container {
    /* padding-left: 35px; */
    height: 1200px;
    width: 100%;
    margin: 0px;
  }
  .clock {
    /* width: 50%;  */
    top: 34px;
    left: 60px;
    object-fit: contain;
  }
  .box1 {
    width: 72%;
    height: 125px;
    position: absolute;
    top: 145px;
    left: 50px;
  }
  .box2 {
    width: 80%;
    height: 130px;
    position: absolute;
    top: 125px;
    left: 35px;
  }
  .box3 {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 88%;
    height: 120px;
  }

  .box4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color: #8a11bf;
    padding-top: 12px;
    position: relative;
    top: 17px;
  }
  .pack {
    width: 16%;
    height: 60px;
    color: #8a11bf;
    font-size: 14px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #hrs,
  #mins,
  #secs,
  #ampm {
    font-size: 1.4rem;
  }
  span {
    font-size: 0.8rem;
  }
  .pack1 {
    width: 17%;
    padding: 2px;
    height: 26px;
    text-align: center;
    font-size: 8px;
    color: #3d087b;
    letter-spacing: 0px;
    font-size: 20px;
  }
  .pack2 {
    background-image: url("./timeline.png");
  }

  .colon {
    width: 5%;
    height: 20px;
  }
  .ampm {
    background-image: url("./am.png");
    position: relative;
    color: white;
  }

  span {
    font-size: 20px;
  }

  .breakfast_box {
    position: absolute;
    top: 285px;
    left: 20px;
    width: 88%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .breakfast {
    font-size: 12px;
    /* top: 30px; */
    /* left: 25px; */
    /* width: 100%; */
  }
  .content {
    position: absolute;
    top: 385px;
    left: 20px;
    width: 88%;
    height: 270px;
    font-size: 14px;
  }
  .line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    color: #3d087b;
  }

  .img1 {
    width: 33%;
    height: 30px;
    background-repeat: no-repeat;
  }
  /* 
  .pipe1 {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .pipe2 {
    position: absolute;
    left: 82px;
    top: 165px;
  }

  .pipe3 {
    position: absolute;
    left: 82px;
    top: 250px;
  } */

  label {
    width: 60%;
  }

  select {
    width: 48%;
  }
  option {
    width: 20%;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
  }
  .img2 {
    position: absolute;
    top: 645px;
    left: 20px;
  }
  #img2 {
    width: 88%;
    height: 280px;
    border-radius: 10px;
  }

  .gd_mng {
    position: absolute;
    top: 915px;
    left: 20px;
    width: 88%;
    height: 60px;
  }
  .text {
    position: absolute;
    top: 935px;
    left: 70px;
    width: 65%;
    height: 34px;
    font-size: 13px;
  }
  .alarm {
    position: absolute;
    top: 1000px;
    left: 20px;
    width: 30%;
    height: 50px;
  }
  .schedule {
    position: absolute;
    top: 1000px;
    left: 188px;
    width: 42%;
    height: 104px;
  }
  .schedule_cont {
    position: absolute;
    top: 1010px;
    left: 210px;
    width: 38%;
    height: 94px;
    font-size: 10px;
  }
  .timing {
    font-size: 10px;
  }
}

@media screen and (max-width: 340px) {
  body {
    padding: 0px;
    margin: 0px;
  }
  .container {
    padding: 0px;
    height: 900px;
    width: 100%;
    margin: 0px;
    position: relative;
    /* left: -50px; */
  }
  .clock {
    width: 20%;
    height: 40px;
    position: absolute;
    top: 34px;
    left: 63px;
  }
  .box1 {
    width: 40%;
    height: 100px;
    position: absolute;
    top: 140px;
    left: 120px;
  }
  .box2 {
    width: 45%;
    height: 100px;
    position: absolute;
    top: 130px;
    left: 100px;
  }
  .box3 {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 45%;
    height: 100px;
  }

  .box4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    color: #8a11bf;
    padding-top: 12px;
  }
  .pack {
    width: 10%;
    height: 40px;
    color: #8a11bf;
    font-size: 12px;
    text-align: center;
  }
  .pack1 {
    width: 12%;
    height: 18px;
    text-align: center;
    font-size: 12px;
    color: #3d087b;
    letter-spacing: 0px;
  }
  .pack2 {
    background-image: url("./timeline.png");
  }

  .colon {
    width: 5%;
    height: 10px;
  }
  .ampm {
    background-image: url("./am.png");
    position: relative;
    color: white;
  }

  span {
    font-size: 10px;
  }

  .breakfast_box {
    position: absolute;
    top: 250px;
    left: 80px;
    width: 50%;
    height: 60px;
  }
  .breakfast {
    font-size: 5px;
    top: 20px;
    left: 30px;
    width: 45%;
  }
  .content {
    position: absolute;
    top: 300px;
    left: 80px;
    width: 50%;
    height: 200px;
    font-size: 10px;
  }
  .line {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    color: #3d087b;
  }

  .img1 {
    width: 20%;
    height: 20px;
    background-repeat: no-repeat;
  }

  .pipe1 {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .pipe2 {
    position: absolute;
    left: 82px;
    top: 165px;
  }

  .pipe3 {
    position: absolute;
    left: 82px;
    top: 250px;
  }

  select {
    width: 35%;
  }
  option {
    width: 20%;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
  }
  .img2 {
    position: absolute;
    top: 455px;
    left: 80px;
  }
  #img2 {
    width: 50%;
    height: 250px;
    border-radius: 10px;
  }

  .gd_mng {
    position: absolute;
    top: 590px;
    left: 80px;
    width: 50%;
    height: 77px;
  }
  .text {
    position: absolute;
    top: 610px;
    left: 90px;
    width: 35%;
    height: 34px;
    font-size: 8px;
  }
  .alarm {
    position: absolute;
    top: 675px;
    left: 80px;
    width: 22%;
    height: 30px;
    font-size: 5px;
  }
  .schedule {
    position: absolute;
    top: 715px;
    left: 80px;
    width: 35%;
    height: 104px;
  }
  .schedule_cont {
    position: absolute;
    top: 715px;
    left: 90px;
    width: 35%;
    height: 94px;
    font-size: 7px;
  }
}
