body{
    background-color: black;
    padding:80px;
   
}
#content{
    color:white;
}
header{
    display:flex;
    justify-content: space-between;
    font-size:35px;
}
/* 
.task{
    font-weight:bold; 
    color:dodgerblue;
} */

.addItem{
    display:flex;
    justify-content: space-evenly;
    gap:5px;
}

.fa-solid{
    color:dodgerblue;
}

.add{
    margin-top: -4px;
}

.text{
    font-size:25px;
}

#lists{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    position:relative;
    margin:10px;
    gap: 20px 10px;  
}

#listForm{
    width: 400px;
    height: 200px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color: #FFFFFF; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      
}
.heading{
    color:red;
}
.addNewList{
    color:red;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
}
#listName{
    height:40px;
    width:300px;
    margin: 15px 50px;
    text-align: center;
}
button{
    height:35px;
    width:80px;
    background-color: red;
    color:white;
    border:1px solid red;
    border-radius: 40px;
    font-size: 20px;
}
#createNewCard{
     margin-left:100px;
}
#close{
    margin-left:40px;
}

#itemForm{
    width: 400px;
    height: 200px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.addNewItem{
    color:red;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
}
#itemName{
    height:40px;
    width:300px;
    margin: 15px 50px;
    text-align: center;
}
#createNewItem{
     margin-left:100px;
}
.markAsDone{
    font-size: 10px;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    height:20px;
}
.li{
    text-decoration: line-through red;
    opacity: 0.6;
    color:red;
    font-weight:bold;
}